@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: overpass;
  src: url("../assets/fonts/Overpass-Regular.ttf");
}
@font-face {
  font-family: overpassMedium;
  src: url("../assets/fonts/Overpass-Medium.ttf");
}
@font-face {
  font-family: overpassSemiBold;
  src: url("../assets/fonts/Overpass-SemiBold.ttf");
}
@font-face {
  font-family: overpass;
  src: url("../assets/fonts/Overpass-Regular.ttf");
}

* {
  font-family: overpass;
}

// Customs
.title-example {
  color: red;
}
body {
  background: linear-gradient(135deg, #08244f 0%, #134cb5 47.38%, #0b42ab 100%);
}
